<%- include("../partials/_head") -%>
<br>
<% if (user !== null) { %>
<p> You are logged in as <%= user.username %></p>
<% } %>
<br>
  <div>
      <br>
      <h1>WiTly Profile's</h1>
      <br>
    <h2>“Always remember you are braver than you believe, <br>
        Stronger than you seem, <br>
        Smarter than you think and twice as beautiful as you’ve ever imagined.”</h2>
      <h4>– Dr. Seuss</h4>
      <br>
      <br>
  </div>
  <div id="pic-container">
    <% people.forEach(person => { %>
      <div id= "profile-container">
        <a href="/profile/<%= person.id %>">
        <img id="pic" src=<%= person.photo %>
          <p class="names"><%= person.name %></p>
      </div>
      </a>
      <% }) %>
  </div>
</body>
    <%- include("../partials/_footer") -%>
</html>