<%- include("../partials/_head") -%>
    <div>
        <div id="profilepic">
            <img id="pic" src=<%= person.photo %>
        </div>
        <br>
        <h1><%= person.name %></h1>
        <br>
        <h3><%= person.tagline %></h3>
        <br>
        <p id="bio"><%= person.bio %></p>
    </div>
    </body>
    <%- include("../partials/_footer") -%>
</html>
